<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>ABOUT US</p>
                    <h3>Your Health, Our Priority.</h3>
                    <span><i>Home / About Us</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>About us</h2>
                </div>
            </div>
        </div>
    </div>
</section>