{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>
        {% trans 'Register' %}
    </title>
{% endblock title %}

{% block content %}
<section class="register-section space-mt">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12">
                <!-- Registration -->
                {% include 'components/user/register/partials/form.html' %}
                <!--//End Registration -->
            </div>
        </div>
    </div>
</section>

{% endblock content %}
