{% load i18n %}

<div class="emergency-box">
    <h2>{% trans 'Emergency? Contact Us Now.' %}</h2>
    <p>{% trans 'Facing an emergency? Don’t wait—reach out to us immediately for prompt assistance. Our team is available 24/7 to provide support and address your urgent needs. Call or message us now to ensure you get the help you need when it matters most.' %}</p>
    <div class="emergency-block">
        <i class="fas fa-phone-volume"></i>
        <div class="emergency-text">
            <p>{% trans 'Call anytime' %}</p>
            <h4>{{settings.number}}</h4>
        </div>
    </div>
    <div class="emergency-block">
        <i class="far fa-envelope-open yellow-bg"></i>
        <div class="emergency-text">
            <p>{% trans 'Email us' %}</p>
            <h4>{{settings.email}}</h4>
        </div>
    </div>
</div>