<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>REGISTER</p>
                    <h3>Create your account to access exclusive features and start your journey with us today!</h3>
                    <span><i>Home / Register</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>Register</h2>
                </div>
            </div>
        </div>
    </div>
</section>