{% load i18n %}

<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>{% trans 'ABOUT US' %}</p>
                    <h3>{% trans 'Your Health, Our Priority' %}</h3>
                    <span><i>{% trans 'Home' %} / {% trans 'About Us' %}</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>{% trans 'About Us' %}</h2>
                </div>
            </div>
        </div>
    </div>
</section>