<ul>
    <li>
        <a href="#"><i class="fas fa-angle-double-right"></i>Appointment</a>
    </li>
    <li>
        <a href="{% url 'about' %}"><i class="fas fa-angle-double-right"></i>About Us</a>
    </li>
    <li>
        <a href="{% url 'services' %}"><i class="fas fa-angle-double-right"></i>Our Services</a>
    </li>
    <li>
        <a href="{% url 'blogs' %}"><i class="fas fa-angle-double-right"></i>Blogs & News</a>
    </li>
    <li>
        <a href="{% url 'contact' %}"><i class="fas fa-angle-double-right"></i>Contact Us</a>
    </li>
    <li>
        <a href="{% url 'faq' %}"><i class="fas fa-angle-double-right"></i>Faq</a>
    </li>
</ul>
</div>