{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    <title>
        {% if seo.meta_title %}
        {{seo.meta_title}}
        {% elif settings.site_name %}
        {{settings.site_name}}
        {% endif %}
    </title>
{% endblock title %}
 
{% block seo %}

{% if request.LANGUAGE_CODE == 'az' %}
    <meta name="description" content="{{ seo.meta_description|default:'Etibarlı tibbi məsləhətlər, sağlamlıq tövsiyələri və həkim tərəfindən yazılmış ən son məqalələr.' }}">
    <meta name="keywords" content="{{ seo.meta_keywords|default:'tibb, sağlamlıq xidmətləri, həkimlər, sağlamlıq həlləri, tibbi müalicə' }}">
    <meta property="og:title" content="{{ seo.og_title|default:'Tibbi Xidmətlər və Sağlamlıq Həlləri'}}">
    <meta property="og:description" content="{{ seo.og_description|default:'Etibarlı tibbi xidmətlər və xəstəliklərin qarşısının alınması üçün peşəkar məsləhətlər.' }}">
{% elif request.LANGUAGE_CODE == 'ru' %}
    <meta name="description" content="{{ seo.meta_description|default:'Подробная информация о профессиональных медицинских услугах и надежных решениях для здоровья.' }}">
    <meta name="keywords" content="{{ seo.meta_keywords|default:'медицина, медицинские услуги, врачи, решения для здоровья, лечение' }}">
    <meta property="og:title" content="{{ seo.og_title|default:'Медицинские Услуги и Решения для Здоровья'}}">
    <meta property="og:description" content="{{ seo.og_description|default:'Надежные медицинские услуги и профессиональные советы для предотвращения болезней.' }}">
{% else %}
    <meta name="description" content="{{ seo.meta_description|default:'Comprehensive details about professional medical services and reliable health solutions.' }}">
    <meta name="keywords" content="{{ seo.meta_keywords|default:'medical, health services, doctors, health solutions, treatment' }}">
    <meta property="og:title" content="{{ seo.og_title|default:'Medical Services and Health Solutions'}}">
    <meta property="og:description" content="{{ seo.og_description|default:'Reliable medical services and professional advice for disease prevention.' }}">
{% endif %}

    <meta property="og:image" content="
    {{ request.scheme }}://{{ request.META.HTTP_HOST }}
    {% if seo.og_image %} {{seo.og_image.url}} {% elif settings.logo %} {{settings.logo.url}} {% endif %} ">

{% endblock seo %}

{% block subheader %}
<!-- Sub header -->
{% include 'components/service/partials/subheader.html' %}
<!--//End Sub header -->
{% endblock subheader%}

{% block content %}
<!--==================== Services ====================-->
<section class="space light">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12">
                <div class="sub-title_center">
                    <span>---- {% trans 'Our Services' %} ----</span>
                    <h1>{% trans 'High Quality Services for You' %}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            {% include 'components/service/partials/service-item.html' %}
            {% endfor %}
        </div>
    </div>
</section>
<!--//End Services -->
<!--==================== Appointment ====================-->
<section class="space background-bg4">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="appointment-form_wrap">
                    <div class="heading-style1">
                        <span>{% trans 'Online Booking' %}</span>
                        <h2>{% trans 'Make an Appointment' %}</h2>
                    </div>
                    {% include 'components/appointment/partials/form.html' %}
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="why-choose_block">
                    <div class="heading-style1 mb-0">
                        <span>{% trans 'Why Us' %}</span>
                        <h2>{% trans 'Why Choose Us' %}</h2>
                        <p>{% trans "We’re committed to a patient-centered approach, ensuring you feel supported and cared for every step of the way." %}</p>
                        <hr>
                    </div>
                    {% for item in why_choose_us %}
                    {% include 'components/service/partials/why-choose-us.html' %}
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</section>
<!--//End Appointment -->
<!--==================== Testimonial ====================-->
<div class="light">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12">
                <div class="testi-slider-style2">
                    {% for testimonial in testimonials %}
                    <div class="testimonial-style2">
                        <img src="{{testimonial.client_image.url}}" alt="{{testimonial.client_full_name}}">
                        <ul>
                            {% for star in testimonial.star_range %}
                            <li><i class="fas fa-star"></i></li>
                            {% endfor %}
                        </ul>
                        <p> {{testimonial.client_comment}}</p>
                        <span>{{testimonial.client_full_name}} ({{testimonial.client_profession}})</span>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <div class="testi-slider-style2-nav">
                    {% for worker in coworkers %}
                    <div><img src="{{worker.png.url}}" class="img-fluid" alt="{{worker.name}}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!--//End Testimonial -->
{% endblock content %}