{% load i18n %}

<ul class="nav-icon-wrap d-flex align-items-center">
    <!-- Social Media Icons -->
    {% if settings.facebook %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ settings.facebook }}" aria-label="Facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
    </li>
    {% endif %}
    {% if settings.twitter %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ settings.twitter }}" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
    </li>
    {% endif %}
    {% if settings.instagram %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ settings.instagram }}" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </li>
    {% endif %}
    {% if settings.linkedin %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ settings.linkedin }}" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
    </li>
    {% endif %}
    {% if settings.youtube %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ settings.youtube }}" aria-label="YouTube">
            <i class="fab fa-youtube"></i>
        </a>
    </li>
    {% endif %}
    {% if settings.tiktok %}
    <li class="nav-item">
        <a class="nav-link" target="_blank" href="{{ settings.tiktok }}" aria-label="TikTok">
            <i class="fab fa-tiktok"></i>
        </a>
    </li>
    {% endif %}
</ul>
<ul class="nav-icon-wrap nav-appointment-wrap"> 
    <li class="nav-item appointment-li nav-hidden">
        <a href="" class="nav-link btn btn-primary appointment-btn-top">
            {% trans 'Make Appointment' %}
        </a>
    </li>
    <li class="nav-item nav-hidden">
        <div class="language-dropdown nav-lang">
            {% get_current_language as CURRENT_LANGUAGE %}
            {% get_available_languages as AVAILABLE_LANGUAGES %}
            {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
            <select id="language-select" onchange="window.location.href=this.value">
                {% for language in languages %}
                <option value="/{{ language.code }}/{{ request.get_full_path|slice:'4:' }}"
                    {% if language.code == CURRENT_LANGUAGE %} selected{% endif %}>
                    {% if language.code == 'ru' %}🇷🇺{% elif language.code == 'az' %}🇦🇿{% elif language.code == 'en' %}🇬🇧{% endif %}
                </option>
                {% endfor %}
            </select>
        </div>
    </li>   
    <!-- User Dropdown -->
    {% include 'components/navbar/partials/user-dropdown.html' %}
</ul>