{% load i18n %}

<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>{% trans 'Appointment' %}</p>
                    <h3>{% trans "Your Health, Our Priority – Book Your Doctor's Appointment Today!" %}</h3>
                    <span><i>{% trans 'Home' %} / {% trans 'Appointment' %}</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>{% trans 'Appointment' %}</h2>
                </div>
            </div>
        </div>
    </div>
</section>