{% load i18n %}

<div class="contact-box">
    <p>{% trans "Have Questions? Reach Out to Us Anytime!" %}</p>
    <hr>
    <div class="contact-title">
        <h4>{% trans 'Contact Information' %}</h4>
        <i class="fas fa-phone-volume"></i>
        <div class="contact-title_icon">
            <p>{% trans 'Phone' %}</p>
            <h6>{{settings.number}}</h6>
        </div>
    </div>
    <div class="contact-title">
        <i class="fas fa-envelope"></i>
        <div class="contact-title_icon">
            <p>{% trans 'Email' %}</p>
            <h6>{{settings.email}}</h6>
        </div>
    </div>
    <hr>
</div>
<div class="contact-box">
    <div class="contact-title">
        <h4>{% trans 'Head Office' %}</h4>
        <i class="fas fa-map-marker-alt"></i>
        <div class="contact-title_icon">
            <p>{% trans 'Location' %}</p>
            <h6>{{settings.location}}</h6>
        </div>
    </div>
</div>