{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block subheader%}
{% include 'components/blog/partials/subheader.html' %}
{% endblock subheader %}

{% block content %}
<section class="space">
    <div class="container container-custom">
        <div class="row align-items-center space-between gap-2 w-100">
            <h2 class="mb-4" id="filterResults"></h2> 
            <span class="small clear-filter d-none" id="clearfilter">({% trans 'Clear' %})</span>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div id="blogs">
                    <!-- Dynamically loaded blogs will go here -->
                </div>
                <!-- Load More Button -->
                <div class="tag-block">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="tags">
                                <a id="previousBlogs" class="blog-arrows-left"><i class="fas fa-long-arrow-alt-left"></i>{% trans 'Pre' %}</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="share">
                                <a id="nextBlogs" class="blog-arrows-right">{% trans 'Next' %}<i class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>{% trans 'Search' %}</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <div class="blog-sidebar_content blog-sidebar_search">
                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="{% trans 'Search here' %}" id="query-word">
                                    <i class="fas fa-search" id="searchIcon"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>{% trans 'Popular Posts' %}</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        {% for blog in popular_blogs %}
                        {% include 'components/blog/partials/popular-blogs.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>{% trans 'Categories' %}</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <ul class="blog-sidebar_category">
                            {% include 'components/blog/partials/category.html' %}
                        </ul>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>{% trans 'Tags' %}</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <ul class="blog-sidebar_tags">
                            {% for tag in tags %}
                            {% include 'components/blog/partials/tag.html' with tag=tag %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>{% trans 'Follow Us' %}</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        {% include 'components/blog/partials/icons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block js %}
<script src="{% static 'js/api/blog-list.js' %}"></script>
{% endblock js %}

