{% extends 'base.html' %}

{% load static %}

{% block meta %}
<meta property="og:title" content="{{ blog.title }}">
<meta property="og:description" content="{{ blog.short_description }}">
<meta property="og:image" content="{{ blog.image.url }}">
<meta property="og:url" content="{{ request.build_absolute_uri }}">

{% endblock meta %}

{% block content %}

<section class="space">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-8">
                {% csrf_token %}
                <div class="blog-list blog-deatil">
                    <img src="{{blog.image.url}}" class="img-fluid" alt="{{blog.title}}">
                    <div class="blog-date">
                        <h3>05</h3>
                        <span>JUN</span>
                    </div>
                    <div class="blog-text-wrap border-0 pl-0 pr-0">
                        <div class="blog-comment-top">
                            <p><i class="far fa-user"></i>{{blog.author.get_full_name}} <span>|</span>
                                <i class="far fa-eye"></i>{{blog.view_count}} <span>|</span>
                                <i class="far fa-comment"></i>{{blog.comments.count}}
                            </p>
                        </div>
                        <h2>{{blog.title}}</h2>
                        <h5>{{blog.short_description}}</h5>
                        <p>{{blog.content|safe}}</p>
                        <div class="tag-block">
                            <div class="row">
                                <div class="col-md-12 col-lg-6">
                                    <div class="tags">
                                        <span>tags:</span>
                                        <ul>
                                            {% for tag in blog.tag.all %}
                                            {% include 'components/blog/tag.html' with tag=tag %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-6">
                                    <div class="share">
                                        <span>Share:</span>
                                        <ul>
                                            <li>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                                    target="_blank">
                                                    <i class="fab fa-facebook-f"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}"
                                                    target="_blank">
                                                    <i class="fab fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri }}"
                                                    target="_blank">
                                                    <i class="fab fa-linkedin-in"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="https://api.whatsapp.com/send?text={{ request.build_absolute_uri }}"
                                                    target="_blank">
                                                    <i class="fab fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if next_blog %}
                <div class="blog-pre-next">
                    <a href="{{next_blog.get_absolute_url}}">
                        <img src="{{next_blog.image.url}}" class="img-fluid" alt="{{next_blog.title}}">
                    </a>
                    <div class="blog-pre-next_content">
                        <h4>{{next_blog.title}}</h4>
                        <p>{{next_blog.short_description}}</p>
                        <div class="blog-comment-top">
                            <p><i class="far fa-user"></i>{{next_blog.author.get_full_name}} <span>|</span>
                                <i class="far fa-eye"></i>{{next_blog.view_count}} <span>|</span>
                                <i class="far fa-comment"></i>{{next_blog.comments.count}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="tag-block">
                    <div class="row">
                        <div class="col-md-6">
                            {% if previous_blog %}
                            <div class="tags">
                                <a href="{% url 'blog-detail' previous_blog.slug %}" class="blog-arrows-left"><i
                                        class="fas fa-long-arrow-alt-left"></i>Pre</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if next_blog %}
                            <div class="share">
                                <a href="{% url 'blog-detail' next_blog.slug %}" class="blog-arrows-right">Next<i
                                        class="fas fa-long-arrow-alt-right"></i></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% include 'components/blog/comment-form.html' %}
                {% include 'components/blog/delete-modal.html' %}
                <div class="comment-wrap" id="comments">

                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Search</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <div class="blog-sidebar_content blog-sidebar_search">
                            <form action="#">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search here">
                                    <i class="fas fa-search"></i>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Popular Posts</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        {% for blog in popular_blogs %}
                        {% include 'components/blog/popular-blogs.html' %}
                        {% endfor %}
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Categories</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <ul class="blog-sidebar_category">
                            {% include 'components/blog/category.html' %}
                        </ul>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Tags</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        <ul class="blog-sidebar_tags">
                            {% for tag in tags %}
                            {% include 'components/blog/tag.html' with tag=tag %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="blog-sidebar">
                    <div class="blog-sidebar_heading">
                        <h4>Follow Us</h4>
                    </div>
                    <div class="blog-sidebar_wrap">
                        {% include 'components/blog/icons.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
{% block js %}
<script>
    const blogId = "{{blog.id}}"
</script>
<script src="{% static 'js/api/comment.js' %}"></script>
{% endblock js %}