{% extends 'base.html' %}
{% load static %}

{% block subheader%}

{% include 'components/contact/partials/subheader.html' %}

{% endblock subheader %}

{% block content %}
<!--==================== Contact Us ====================-->
<section class="space">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-5">
                {% include 'components/contact/partials/contact-info.html' %}
            </div>         
            <div class="col-md-7">  
                {% include 'components/contact/partials/contact-form.html' %}
            </div>
        </div>
    </div>
</section>
<!--//End Contact Us -->

<!--==================== Map ====================-->
{% include 'components/contact/partials/map.html' %}
<!--//End Map -->
{% endblock content %}

{% block js %}
<script src="{% static 'js/api/contact.js' %}"></script>
{% endblock js %}