{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{seo.meta_title|default:settings.site_name}}</title>
{% endblock title %}
 
{% block seo %}

{% if request.LANGUAGE_CODE == 'az' %}
    <meta name="description" content="{{ seo.meta_description|default:'Etibarlı tibbi məsləhətlər, sağlamlıq tövsiyələri və həkim tərəfindən yazılmış ən son məqalələr.' }}">
    <meta name="keywords" content="{{ seo.meta_keywords|default:'tibb, sağlamlıq, həkim məsləhətləri, tibbi məqalələr, sağlam həyat' }}">
    <meta property="og:title" content="{{ seo.og_title|default:'Həkim Məsləhətləri ilə Sağlam Həyat'}}">
    <meta property="og:description" content="{{seo.og_description|default:'Sağlam həyat tərzi üçün həkim məsləhətləri və tövsiyələr, xəstəliklərin qarşısını alma yolları.'}}">
{% elif request.LANGUAGE_CODE == 'ru' %}
    <meta name="description" content="{{ seo.meta_description|default:'Надежные медицинские советы, рекомендации по здоровью и последние статьи от врача.' }}">
    <meta name="keywords" content="{{ seo.meta_keywords|default:'медицина, здоровье, медицинские советы, медицинские статьи, здоровый образ жизни' }}">
    <meta property="og:title" content="{{seo.og_title|default:'Здоровье с Советами Врача'}}">
    <meta property="og:description" content="{{seo.og_description|default:'Советы врача для здорового образа жизни, предотвращение болезней и поддержание здоровья.'}}">
{% else %}
    <meta name="description" content="{{ seo.meta_description|default:'Trusted medical advice, health tips, and the latest articles from a doctor.' }}">
    <meta name="keywords" content="{{ seo.meta_keywords|default:'medical, health, doctor advice, medical articles, healthy living' }}">
    <meta property="og:title" content="{{seo.og_title|default:'Health Tips from a Doctor'}}">
    <meta property="og:description" content="{{seo.og_description|default:'Doctor`s advice for a healthy lifestyle, disease prevention, and maintaining good health.'}}">
{% endif %}

<meta property="og:image" content="{{ request.scheme }}://{{ request.META.HTTP_HOST }}{{seo.og_image.url|default:settings.logo.url}}">

{% endblock seo %}

{% block subheader%}

{% include 'components/contact/partials/subheader.html' %}

{% endblock subheader %}

{% block content %}
<!--==================== Contact Us ====================-->
<section class="space">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-5">
                {% include 'components/contact/partials/contact-info.html' %}
            </div>         
            <div class="col-md-7">  
                {% include 'components/contact/partials/contact-form.html' %}
            </div>
        </div>
    </div>
</section>
<!--//End Contact Us -->

<!--==================== Map ====================-->
{% include 'components/contact/partials/map.html' %}
<!--//End Map -->
{% endblock content %}

{% block js %}
<script src="{% static 'js/api/contact.js' %}"></script>
{% endblock js %}