{% load static %}
{% load i18n %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-bar">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <a class="navbar-brand" href="{% url 'home' %}"><img src="{{settings.logo.url}}" alt="{{settings.site_name}}"></a>
                        </div>
                        <div class="col-md-9 d-flex align-items-end">
                            <ul class="ml-auto">
                                <li>
                                    <img src="{% static 'images/mail-icon.png' %}" alt="{{settings.email}}">
                                    <div>
                                        <span>{% trans 'Mail us' %}</span>
                                        <h4>{{settings.email}}</h4>
                                    </div>
                                </li>
                                <li>
                                    <img src="{% static 'images/call-icon.png' %}" alt="{{settings.number}}">
                                    <div>
                                        <span>{% trans 'Call anytime' %}</span>
                                        <h4>{{settings.number}}</h4>
                                    </div>
                                </li>
                                <li class="appointment-btn">
                                    <a href="{% url 'appointment' %}" class="btn btn-primary">{% trans 'Make Appointment' %}</a>
                                    <div class="language-dropdown">
                                        {% get_current_language as CURRENT_LANGUAGE %}
                                        {% get_available_languages as AVAILABLE_LANGUAGES %}
                                        {% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
                                        <select id="language-select" onchange="window.location.href=this.value">
                                            {% for language in languages %}
                                            <option value="/{{ language.code }}/{{ request.get_full_path|slice:'4:' }}"
                                                {% if language.code == CURRENT_LANGUAGE %} selected{% endif %}>
                                                {% if language.code == 'ru' %}🇷🇺{% elif language.code == 'az' %}🇦🇿{% elif language.code == 'en' %}🇬🇧{% endif %}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </li>                                                                                                                                                                                     
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>