{% load i18n %}

<div class="modal fade" id="modal-{{download.id}}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <p>{% trans 'Do you want to download this file?' %}</p>
                <div class="modal-actions">
                    <button type="button" class="button-cancel" data-dismiss="modal">{% trans 'Cancel' %}</button>
                    <a href="{{ download.file.url }}" download class="btn btn-success">{% trans 'Download' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>