{% load i18n %}

<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>{% trans 'BLOGS' %}</p>
                    <h3>{% trans 'Explore insights, tips, and stories on our blog page, crafted to inspire and inform.' %}</h3>
                    <span><i>{% trans 'Home' %} / {% trans 'Blogs' %}</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>{% trans 'Blog' %}</h2>
                </div>
            </div>
        </div>
    </div>
</section>