<ul class="blog-sidebar_social">
    {% if settings.facebook %}
    <li>
        <a href="{{settings.facebook}}"><i class="fab fa-facebook-f"></i></a>
    </li>
    {% endif %}
    {% if settings.twitter %}
    <li>
        <a href="{{settings.twitter}}"><i class="fab fa-twitter"></i></a>
    </li>
    {% endif %}
    {% if settings.instagram %}
    <li>
        <a href="{{settings.instagram}}"><i class="fab fa-instagram"></i></a>
    </li>
    {% endif %}
    {% if settings.linkedin %}
    <li>
        <a href="{{settings.linkedin}}"><i class="fab fa-linkedin"></i></a>
    </li>
    {% endif %}
    {% if settings.youtube %}
    <li>
        <a href="{{settings.youtube}}"><i class="fab fa-youtube"></i></a>
    </li>
    {% endif %}
    {% if settings.tiktok %}
    <li>
        <a href="{{settings.tiktok}}"><i class="fab fa-tiktok"></i></a>
    </li>
    {% endif %}
</ul>