{% load static %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="top-bar">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <a class="navbar-brand" href="index.html"><img src="{{settings.logo.url}}" alt="{{settings.site_name}}"></a>
                        </div>
                        <div class="col-md-9 d-flex align-items-end">
                            <ul class="ml-auto">
                                <li>
                                    <img src="{% static 'images/mail-icon.png' %}" alt="{{settings.email}}">
                                    <div>
                                        <span>Mail us</span>
                                        <h4>{{settings.email}}</h4>
                                    </div>
                                </li>
                                <li>
                                    <img src="{% static 'images/call-icon.png' %}" alt="{{settings.number}}">
                                    <div>
                                        <span>Call anytime</span>
                                        <h4>{{settings.number}}</h4>
                                    </div>
                                </li>
                                <li class="appointment-btn">
                                    <a href="appointment.html" class="btn btn-primary">Make Appointment</a>
                                    <i class="fas fa-search"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>