<div class="contact-box mb-4">
    <h4>Contact Us</h4>
    <hr>
    <div class="contact-title">
        <i class="fas fa-phone-volume"></i>
        <div class="contact-title_icon">
            <p>Phone</p>
            <h6>{{settings.number}}</h6>
        </div>
    </div>
    <div class="contact-title">
        <i class="fas fa-envelope"></i>
        <div class="contact-title_icon">
            <p>Email</p>
            <h6>{{settings.email}}</h6>
        </div>
    </div>
    <div class="contact-title">
        <i class="fas fa-map-marker-alt"></i>
        <div class="contact-title_icon">
            <p>Location</p>
            <h6>{{settings.location}}</h6>
        </div>
    </div>
</div>