<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>{{service.name|upper}}</p>
                    <h3>{{service.short_description}}</h3>
                    <span><i>Home / {{service.name}}</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>{{service.name}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>