<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>OUR SERVICES</p>
                    <h3>Customized Solutions for Every Need.</h3>
                    <span><i>Home / Services</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>Services</h2>
                </div>
            </div>
        </div>
    </div>
</section>